.container{
    margin: 0 auto;
    width: 1440px;
}
.adress{
    margin-top: 40px;
    display: flex;
}
.heading{
    font-size: 28px;
    color: #a71515;
    margin-right: 10px;
}
.input{
    line-height: 50px;
    outline: none;
    padding-left: 5px;
    background-color: #404040;
    color: white;
    border: none;
    font-size: 24px;
    transition: 0.3s;
}
.input:focus{
    background-color: #303030;
    transition: 0.3s;
}
.ip{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.port{
    display: flex;
    align-items: center;
}
.adder{
    display: flex;
    float: right;
    margin-top: 20px;
}
.btn{
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
.table{
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 80px;
    background-color: #303030;
}
.btn__save{
    width: 200px;
    margin-left: 10px;
    line-height: 50px;
    border: none;
    cursor: pointer;
    background-color: #303030;
    color: #a71515;
    font-size: 28px;
    font-weight: 700;
    float: right;
    margin-top: 20px;
    transition: 0.3s;
}
.btn__save:hover{
    transition: 0.3s;
    background-color: #a71515;
    color: #404040;
}